{% extends 'base_admin.html' %}

{% block title %} ROYAL FILMS - Admin {% endblock %}

{% block body %}

<!-- Perfil Start -->

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-3 px-sm-2 px-0 bg-dark">
            <div class="d-flex justify-content-center py-4"><i class="fas fa-user-circle fa-5x"
                    style="color:#BDBDBF"></i>
            </div>
            <h5 class="text-secondary text-uppercase text-center py-2">Administrador ID</h5>

            <!-- Sidebar Nav Items Start -->
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start px-3 pt-2 min-vh-100"
                    id="tabAdmin" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-2 align-middle">
                            <i class="fas fa-film"></i> <span class="ms-3 d-none d-sm-inline">Gestión de
                                películas</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#tabAdmin">
                            <li class="w-100">
                                <a data-bs-toggle="pill" href="#listMovies" role="tab" class="nav-link px-0"> <span
                                        class="ms-4 d-none d-sm-inline">Listado
                                        películas</span></a>
                            </li>
                            <li class="w-100">
                                <a data-bs-toggle="pill" href="#addMovies" role="tab" class="nav-link px-0"> <span
                                        class="ms-4 d-none d-sm-inline">Agregar
                                        películas</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item" role="presentation">
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-2 align-middle">
                            <i class="fas fa-film"></i> <span class="ms-3 d-none d-sm-inline">Gestión de
                                funciones</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu2" data-bs-parent="#tabAdmin">
                            <li class="w-100">
                                <a data-bs-toggle="pill" href="#listScreens" role="tab" class="nav-link px-0"> <span
                                        class="ms-4 d-none d-sm-inline">Listado
                                        funciones</span></a>
                            </li>
                            <li class="w-100">
                                <a data-bs-toggle="pill" href="#addScreen" role="tab" class="nav-link px-0"> <span
                                        class="ms-4 d-none d-sm-inline">Agregar
                                        función</span></a>
                            </li>
                        </ul>
                    </li>
                    <hr>
                    <hr>
                    <li class="nav-item">
                        <a href="{{ url_for('admin.logout') }}" class="nav-link align-middle px-2">
                            <i class="fas fa-sign-out-alt"></i> <span class="ms-3 d-none d-sm-inline">Cerrar
                                Sesión</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Sidebar Nav Items End -->
        </div>
        <div class="col py-3">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-9 text-justify mb-5">
                        <!-- Tab panes Content Start -->
                        <div class="tab-content">
                            <!-- Item1 -->
                            <div class="tab-pane active" id="listMovies" role="tabpanel"
                                aria-labelledby="listMovies-tab">
                                <div class="my-5">
                                    <h5>Listado de películas</h5>
                                </div>
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            ID
                                        </th>
                                        <th>
                                            Título
                                        </th>
                                        <th>
                                            Sinopsis
                                        </th>
                                        <th>
                                            Duración
                                        </th>
                                        <th>
                                            Formatos
                                        </th>
                                        <th>
                                            Género
                                        </th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                MA01
                                            </td>
                                            <td>
                                                Los Locos Addams 2
                                            </td>
                                            <td>
                                                La escalofriante familia favorita de todos está de regreso en esta nueva
                                                secuela animada de comedia Los Locos Addams 2.
                                            </td>
                                            <td>
                                                90 min
                                            </td>
                                            <td>
                                                2D - subt
                                            </td>
                                            <td>
                                                Animación
                                            </td>
                                            <td>
                                                <i></i>
                                                <div> <a href="#"> <i class="fas fa-eye"></i></a>
                                                    <a href="#"> <i class="fas fa-pen"></i></a>
                                                </div>

                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- Item2 -->
                            <div class="tab-pane" id="addMovies" role="tabpanel" aria-labelledby="addMovies-tab">
                                <div class="my-5">
                                    <h5>Agregar películas</h5>
                                </div>
                                <form action="/admin/dashboard/" method="POST" novalidate>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form.movieTitle.label }}
                                            {{ form.movieTitle(class="form-control", placeholder="")
                                            }}
                                            {% for error in form.movieTitle.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.moviePoster.label }}
                                            {{ form.moviePoster(class="form-control", placeholder="")
                                            }}
                                            {% for error in form.moviePoster.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieTrailer.label }}
                                            {{ form.movieTrailer(class="form-control", placeholder="")
                                            }}
                                            {% for error in form.movieTrailer.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieSynopsis.label }}
                                            {{ form.movieSynopsis(class="form-control", rows="5", placeholder="")
                                            }}
                                            {% for error in form.movieSynopsis.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieLength.label }}
                                            {{ form.movieLength(class="form-control", placeholder="")
                                            }}
                                            {% for error in form.movieLength.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieFormat.label }}
                                            {{ form.movieFormat(class="form-control", placeholder="")
                                            }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieGenre.label }}
                                            {{ form.movieGenre(class="form-control", placeholder="")
                                            }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieRating.label }}
                                            {{ form.movieRating(class="form-control", placeholder="")
                                            }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieCast.label }}
                                            {{ form.movieCast(class="form-control", placeholder="")
                                            }}
                                            {% for error in form.movieCast.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form.movieRelease.label }}
                                            {{ form.movieRelease(class="form-control", placeholder="")
                                            }}
                                        </div>

                                    </div>
                                    <div class="mt-3">
                                        <a href="/admin/dashboard/" class="btn btn-secondary">Cancelar</a>
                                        {{ form.hidden_tag()}}
                                        {{ form.submit(class="btn btn-primary") }}
                                </form>
                                <!-- <button type="submit" class="btn btn-primary">Agregar</button> -->
                            </div>

                            </form>


                        </div>
                        <!-- Item3 -->
                        <div class="tab-pane" id="listScreens" role="tabpanel" aria-labelledby="listScreens-tab">
                            <div class="my-5">
                                <h5>Listado de funciones</h5>
                            </div>
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Película
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Número de sillas
                                    </th>

                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            SXT01
                                        </td>
                                        <td>
                                            Duna
                                        </td>
                                        <td>
                                            2021-10-22 19:45:00
                                        </td>
                                        <td>
                                            60
                                        </td>
                                        <td>
                                            <i></i>
                                            <div> <a href="#"> <i class="fas fa-eye"></i></a>
                                                <a href="#"> <i class="fas fa-pen"></i></a>
                                            </div>

                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- Item4 -->
                        <div class="tab-pane" id="addScreen" role="tabpanel" aria-labelledby="addScreen-tab">
                            <div class="my-5">
                                <h5>Agregar función</h5>
                            </div>

                        </div>
                        <!-- Item5 -->
                        <!-- <div class="tab-pane" id="password" role="tabpanel" aria-labelledby="password-tab">
                                <div class="my-5">
                                    <h5>Cambiar contraseña</h5>
                                </div>

                            </div> -->
                    </div>
                </div>
                <!-- Tab panes Content End -->
            </div>
        </div>
    </div>
</div>
</div>

<!-- Perfil End -->

{% endblock %}