{% extends 'base_dashboard.html' %}
{% set active_navItem = "addShowtime" %}
{% block title %} Dashboard - Showtimes {% endblock %}

{% block body %}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar función {{ fun }}</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item">Gestión de funciones</li>
            <li class="breadcrumb-item active" aria-current="page">Agregar función</li>
        </ol>
    </div>

    <div class="container">
        <form action="" method="POST" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.showtimeMovie.label }}
                    {{ form.showtimeMovie(class="form-control", placeholder="")
                    }}
                    {% for error in form.showtimeMovie.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6">
                    {{ form.showtimeSeats.label }}
                    {{ form.showtimeSeats(class="form-control", placeholder="")
                    }}
                    {% for error in form.showtimeSeats.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group col-md-6" id="simple-date1">
                    {{ form.showtimeDate.label }}
                    <div class="input-group date">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        {{ form.showtimeDate(class="form-control")
                        }}
                    </div>
                </div>
                <div class="form-group col-md-6">
                    {{ form.showtimeSchedule.label }}
                    {{ form.showtimeSchedule(class="form-control", placeholder="")
                    }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.showtimeHall.label }}
                    {{ form.showtimeHall(class="form-control", placeholder="")
                    }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.showtimeStatus.label }}
                    {{ form.showtimeStatus(class="form-control", placeholder="")
                    }}
                </div>
            </div>

            <div class="mb-5">
                <a href="{{ url_for('admin.list_showtimes') }}" class="btn btn-secondary">Cancelar</a>
                {{ form.hidden_tag()}}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    {% endblock %}

    
{% block script %}
<!-- Select2 -->
<script src="{{ url_for('static', filename='js/select2.min.js') }}"></script>
<!-- Bootstrap Datepicker -->
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<!-- Javascript for this page -->
<script>
    $(document).ready(function () {


        $('.select2-single').select2();

        // Select2 Single  with Placeholder
        $('.select2-single-placeholder').select2({
            placeholder: "Select a Province",
            allowClear: true
        });

        // Select2 Multiple
        $('.select2-multiple').select2();

        // Bootstrap Date Picker
        $('#simple-date1 .input-group.date').datepicker({
            format: 'dd/mm/yyyy',
            todayBtn: 'linked',
            todayHighlight: true,
            autoclose: true,
        });

        $('#simple-date2 .input-group.date').datepicker({
            startView: 1,
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            todayBtn: 'linked',
        });

        $('#simple-date3 .input-group.date').datepicker({
            startView: 2,
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            todayBtn: 'linked',
        });

        $('#simple-date4 .input-daterange').datepicker({
            format: 'dd/mm/yyyy',
            autoclose: true,
            todayHighlight: true,
            todayBtn: 'linked',
        });
    });
</script>

{% endblock %}