{% extends 'base.html' %}
{% set active_page = "Cartelera" %}

{% block title %} ROYAL FILMS - Cartelera {% endblock %}

{% block body %}

<!-- Hero Start -->
<div class="container-fluid bg-primary p-5 bg-hero mb-5">
    <div class="row py-1">
        <div class="col-12 text-center">
            <h1 class="display-4 text-uppercase text-white mb-md-4">Cartelera</h1>
        </div>
    </div>
</div>
<!-- Hero End -->


<!-- Cartelera Start -->
<div class="container-fluid p-5">

    <div class="row g-5">
        {% for m in movies %}
        <div class="col-lg-3 col-md-6">
            <div class="team-item position-relative">
                <div class="position-relative overflow-hidden rounded">
                    <img class="img-fluid w-100" src="https://image.tmdb.org/t/p/w500/{{ m.poster_file }}" alt="">
                    <div class="team-overlay">
                        <div class="d-flex align-items-center justify-content-start">
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="#">{{ m.length }}</a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="{{url_for('home.pelicula', id = m.movie_id)}}"><i
                                    class="fa fa-film"></i></a>
                            <a class="btn btn-light btn-square rounded-circle mx-1" href="#"><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                </div>
                <div class="position-absolute start-0 bottom-0 w-100 rounded-bottom text-center p-4"
                    style="background: rgba(34, 36, 41, .9);">
                    <h5 class="text-light">{{ m.title }}</h5>
                    <h6 class="text-uppercase text-secondary m-0">{{ m.genre }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Cartelera End -->

{% endblock %}